@{
    Layout = "Error";
}
<div class="error-area ptb--100 text-center">
    <div class="container">
        <div class="error-content">
            <h2>404</h2>
            <p>Ooops! Something went wrong .</p>
            <a onclick="location.href = '@Url.Action(" List","HomeView")';">Back to Dashboard</a>
        </div>
    </div>
</div>